.App {
  text-align: center;
}

/*.registration, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
*/

 .login, .registration {
  color: white;
  display: grid;
  background-color: black;
  height: 100vh;
  place-items: center;
}
 .login, .registration > a {
  color: white;
  text-decoration: none;
  padding: 20px;
  font-weight: 800;
  background-color: #1db954;
}

input {
  width: 250px;
  height: 40px;
}
